@import "variables.scss";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $dark;
}
#mainCanvas {
	background: $dark;
	border: solid 1px $light;
	border-radius: 4px;
	margin: auto;
}
