@import "variables.scss";
#canvasContainer {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
#infoScreen {
	height: 100%;
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	position: absolute;
	background-color: $background2;
	color: $light;
	button {
		font-family: "Press Start 2P", cursive;
		font-size: 1.4rem;
		padding: 1rem 3rem;
		border: none;
		border-radius: 4px;
		background-color: $light;
		color: $background;
	}
	.readyIndicator {
		opacity: 0;
	}
	.readyIndicator.active {
		opacity: 1;
	}
}
#infoScreen.active {
	display: flex;
}
#mainCanvas {
	max-height: 70vh;
	max-width: 99vw;
	background: $background2;
}
